/**********************************************************************************************************************
********** general
***********************************************************************************************************************/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.3;
  color: #000000;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
}
.wrapper {
  width: 100%;
  min-width: 320px;
  overflow: hidden;
  background: #fff;
  background: url(../source/images/background.png) 0 0;
}
.wrapper-inner {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}
.wrapper-inner:after {
  content: '';
  display: block;
  clear: both;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
a,
button {
  cursor: pointer;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-appearance: none;
  text-decoration: none;
}
a:active,
a:focus,
.slide:focus {
  outline: none;
}
button,
button:hover,
button:active {
  outline: none;
  border: none;
}
button::-moz-focus-inner {
  outline: none;
  border: none;
}
input:focus,
textarea:focus {
  outline: none;
}
section {
  display: block;
}
.slider-wrap {
  position: relative;
  opacity: 0;
}
/**********************************************************************************************************************
********** header
***********************************************************************************************************************/
